/*Used to get all the images on seperate pages to center on the page*/
.acoustic-guitar-position{
    position: relative;
    left: 30%;
}

.bulldog-position{
    position: relative;
    left: 17%;
}

.dictator-cat-position{
    position: relative;
    left: 20%;
}

.dragon-design-position{
    position: relative;
    left: 17%;
}

.eagle-position{
    position: relative;
    left:17%;
}

.egoraptor-position{
    position: relative;
    left: 18%;
}

.false-dragon-position{
    position: relative;
    left:20%;
}

.jump-position{
    position: relative;
    left:26%;
}

.lion-position{
    position: relative;
    left: 18%;
}

.mustang-position{
    position: relative;
    left: 20%;
}

.otter-position{
    position: relative;
    left: 18%;
}

.raptor-position{
    position: relative;
    left: 15%;
}

.tiger-position{
    position: relative;
    left: 18%;
}

.anniversary-jewel-position{
    position: relative;
    left: 23%;
}

.bullard-coins-position{
    position: relative;
    left: 18%;
}

.edison-medals-position{
    position: relative;
    left: 20%;
}

.fresno-high-medals-position{
    position: relative;
    left: 18%;
}

.lapel-pins-1-position{
    position: relative;
    left: 19%;
}

.lapel-pins-2-position{
    position: relative;
    left: 19%;
}

.mclane-coin-position{
    position: relative;
    left: 33%;
}

.yosemite-league-position{
    position: relative;
    left: 39%;
}

.roj-goblet-position{
    position: relative;
    left: 35%;
}

.sounds-freedom-position{
    position: relative;
    left: 19%;
}